<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JSST CMM Tool</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>JSST CMM Tool</h1>
			</div>
			
		</div>
		<div class="gallery">
			<ul>
			<p> Please provide valid the customer ID<p>
			<p> 顧客IDを入力 <p>
				<form action="/result">
				CUSTOMER ID: <input type="text" name="CUSTOMER_ID" value="" id="CUSTOMER_ID"><br><br>
				<input type="submit" value="QUERY">
				</form>
				<br>
				<p>You can click ""QUERY" button in order to fecth the customer details</p>
			</ul>
		</div>
	</div>
</body>
</html>
