<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSST CMM Tool</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
<div class="container">
    <div class="topDeck">
        <div class="logo">
            <h1>JSST CMM Tool</h1>
        </div>
    </div>
    <div class="gallery">
        <ul>
            <h2>Details updated successfully</h2>
        </ul>
        

        <form action="/">
            <input type="submit" value="Query again">
        </form>
    </div>
</div>
</body>
</html>
